# Supabase 配置
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_KEY=your-service-role-key

# 调试模式
DEBUG=false

# 用户限制
USER_LIMIT=100

# 时区设置
TZ=Asia/Shanghai 


# x 授权信息
AUTH_TOKEN=
GET_ID_X_TOKEN=

# AI 配置
AI_SERVICE_URL=https://newapi.flyooo.uk
AI_SERVICE_TOKEN=sk-
AI_SERVICE_MODEL=gpt-4-o